{% extends "teachers/layout.html" %}
{% block title %} Institute Homepage{% endblock %}
{% block body %}
<div class="container" style="text-align: justify;">
		<div class="row info">
		<h3>About the Teachers</h3>
		<p>Teachers are the light to the paths of the students. A good teacher can bring out the best of the students. schooldiary.com also facilitates this. The teachers will be able to track the different progress levels of their students and be with them when they are in need. The teachers will be able to look onto the notifications given by the parents and do the needful. Teachers will be able to look into the activities of the students and guide them through the right path.</p>
	    </div>
	    <div class="row info">
	    	<div class="col-sm-6">
	    		<img src="./static/images/teach1.jpeg">
	    	</div>
	    	<div class="col-sm-6 para-1">
		<p>Teachers will look into it, that the attendence is maintained of the students and events will be added onto it. The notifications of the parents can also be seen by the teachers, once they have registered with the application. Teachers will mark the different progresses of the students, namely, sports, academics, arts and crafts etc.</p>
	</div>
	    </div>
	    <div class="row info">
	    	<div class="col-sm-6 para-2">
	    		<p>The teachers of the registered school, may register here, by clicking <a href="/teachers/register">here</a>. The teachers may then view the progress of their students and contact with their respective parents. The teachers will have the complete control of the students profile apart from the Parent's Say.</p>
	    	</div>
	    	<div class="col-sm-6">
	    		<img src="./static/images/teach2.jpeg">
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-6">
	    		<img src="./static/images/teach3.jpg">
	    	</div>
	    	<div class="col-sm-6 para-3">
	    		<p>Registered teachers may enjoy the benefit of the application by <a href="/teachers/login">Logging In</a>. The teachers may have a look at the students profile and notifications from their parents. The teachers can have the transparent commuunication between the students and their parents through this channel. All the changes can be viewd by the institute/management registered.</p>
	    	</div>
	    </div>

	</div>











	<!-- Welcome to the Institute Section..
	Here you can <a href="/teachers/register">Register</a> or <a href="/teachers/login">Login</a> -->
{% endblock %}