{% extends "students/layout.html" %}
{% block title %} Institute Homepage{% endblock %}
{% block body %}
<div class="container" style="text-align: justify;">
		<div class="row info">
		<h3>About the Students</h3>
		<p>We are all students in our own part of life. We are all studying continuously in our own respective and perspective places. The limitless expansion of learning has made lives better and efficient. When we, say this is the Students section, we mean the parents, who are the first teachers of the students. To keep track of their students progress so far, to communicate with the teachers and know the events upcoming are all part of this section</p>
	    </div>
	    <div class="row info">
	    	<div class="col-sm-6">
	    		<img src="./static/images/stud1.jpg">
	    	</div>
	    	<div class="col-sm-6 para-1">
		<p>As said early, this section deals with the interaction between the students and the teachers, or institute. When looking into the big picture, the interaction will be between parents and teachers. The parents may suggest or request about their students performance from this section. The main aim of this section is to keep aware that all the notifications are well updated in the parent's side.</p>
	</div>
	    </div>
	    <div class="row info">
	    	<div class="col-sm-6 para-2">
	    		<p>The students, may register to the application by clicking <a href="/students/register">here</a>. So that you can get the updates about the events from the school side. The application will also allow the parents to see their students performance until now. They will be able to help their students focus on the regions where they are low or back.</p>
	    	</div>
	    	<div class="col-sm-6">
	    		<img src="./static/images/stud2.jpg">
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-6">
	    		<img src="./static/images/stud3.jpg">
	    	</div>
	    	<div class="col-sm-6 para-3">
	    		<p>Registered sudents may enjoy the complete benefits of the application by <a href="/students/login">logging in</a>. Hence the parents will be able to update their childrens profile and may have a glance at their performance. The reviews and performance of your children can be seen here.</p>
	    	</div>
	    </div>

	</div>

	<!-- Welcome to the Institute Section..
	Here you can <a href="/students/register">Register</a> or <a href="">Login</a> -->
{% endblock %}