<!DOCTYPE html>
<html>
<head>
	<title>Students Performance Report</title>
</head>
<body>
	<h1>Student Overall Performance</h1>
	<h2>Attendence - 89%</h2>
	<table>
		<tr>
			<td>Date of absence</td>
			<td>Reason</td>
			<td>Approved</td>
		</tr>
		<tr>
			<td>11-09-2018</td>
			<td>Feeling sick</td>
			<td>Approved</td>
		</tr>
		<tr>
			<td>19-09-2018</td>
			<td>Injured</td>
			<td>Approved</td>
		</tr>
	</table>
	<h2>Academic Performance</h2>
	<table>
		<tr>
			<td>Subject</td>
			<td>Percentage</td>
			<td>Comments</td>
		</tr>
		<tr>
			<td>Maths</td>
			<td>78%</td>
			<td>Should contcentrate more on algebra</td>
		</tr>
		<tr>
			<td>Science</td>
			<td>90%</td>
			<td>Exceptionally done well.</td>
		</tr>
	</table>
	<h2>Teacher's Say</h2>
	<p>He is a brilliant student. Should focus on Maths!!</p>
</body>
</html>