{% extends "institutes/layout.html" %}
{% block title %} Institute Homepage{% endblock %}
{% block body %}
	<div class="container" style="text-align: justify;">
		<div class="row info">
		<h3>About the Institutes</h3>
		<p>The main aspect of the Institutes section is the maintenance of the teachers and students management. The institute is the general body on which the teachers and the students interact freely. The adding of new teachers and the students are taken care by the institutes management. This application makes it easy to add different functionalities to the teachers and to review the performance of the students. </p>
	    </div>
	    <div class="row info">
	    	<div class="col-sm-6">
	    		<img src="./static/images/inst1.jpg">
	    	</div>
	    	<div class="col-sm-6 para-1">
		<p>The institute is responsible for maintaining the library and the relationship between the parents and the teachers. Thee facilities provided by the institute is also managed here. All the events will be added on the name of the principal, hence there will be clarity on the events that are being held.</p>
	</div>
	    </div>
	    <div class="row info">
	    	<div class="col-sm-6 para-2">
	    		<p>The new institutes may register to the application by clicking <a href="/institutes/register">here</a>. By registering you will be able to enjoy the complete benefits of being the registered member of schooldiary.com. You will be able to add the students and teachers after registering to the application.</p>
	    	</div>
	    	<div class="col-sm-6">
	    		<img src="./static/images/inst2.jpg">
	    	</div>
	    </div>
	    <div class="row">
	    	<div class="col-sm-6">
	    		<img src="./static/images/inst3.jpg">
	    	</div>
	    	<div class="col-sm-6 para-3">
	    		<p>If you are a registered institute, what are you waiting for? click <a href="/institutes/login">Login</a>. Keeping enjoying the benefits you are having.. The main inteerest of this application is the well being of the future students and teachers.</p>
	    	</div>
	    </div>

	</div>
{% endblock %}