h2{
	color: green;
}
.table{
	text-align: center;
}
.carousel-caption{
	color: yellow;
	background-color: navy;
}
footer{
	background-color: #3a3a3a;
	color: #b258b5;
	padding: 50px;
	text-align: center;
}
.col-sm-4{
	padding: 20px;
}
.institute{
	background-color: red;
}
.teacher{
	background-color: yellow;
}
.student{
	background-color: blue;
	color: white;
}

.info{
	height: 40px;
	padding-bottom: 20px;
}
