<!DOCTYPE html>
<html>
<head>
	<title>School Diary</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./static/css/stylize.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="jumbotron jumbotron-center">
		<h1>School Diary</h1>
	</div>
	<div class="container">

		<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./static/images/student1.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <em>In the first place, God made idiots. That was for practice. Then he made school boards.</em>
        <h3>Mark Twain</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="./static/images/student2.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <em>One child, one teacher, one book, one pen can change the world.</em>
        <h3>Malala Yousafzai</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="./static/images/student4.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <em>Teaching's hard! You need different skills: positie reinforcement, keeping students from getting bored, commanding their attention in a certain way.</em>
        <h3>Bill Gates</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="./static/images/student5.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <em>We have an obligation and a responsibility to be investing in our students and our schools. We must make sure that people who have the grades, the desire and the will, but not the money, can still get the best education possible.</em>
        <h3>Barack Obama</h3>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="./static/images/student3.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <em>One of the characterstics of a student is to question. Let the students ask questions.</em>
        <h3>A P J Abdul Kalam</h3>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
		<div class="col-sm-12">
			<p>The main aim of schooldiary.com is to facilitate the communication between the institute, teachers and the students. Parents are the first teachers of every child. A strong bond between the teachers and parents can work wonders in every child's life. Most of the parents don't find time to look into the school matters of their child in this impending fast work life, here is a solution for that, schooldiary.com.</p>
			<p>The application is divided into three groups, based on the types of people using the application, Institute, Teachers and Students. Each section has its own special privileges and resposibilitites. Feel free to enjoy the wide range application of schooldiary.com.</p>
		</div>
		<div class="row">
		<div class="col-sm-4 institute">
			<h3>Institutes</h3>
			<p class="info">The institutes may register their institution here and enjoy the benefits of schooldiary.com</p>
      <a href="/institutes"><button class="button btn-success">Go to Institute Home Page</button></a>
		</div>
		<div class="col-sm-4 teacher">
			<h3>Teachers</h3>
      <p class="info">The teachers may register or signup here.</p>
      <a href="/teachers"><button class="button btn-success">Go to Teacher Home Page</button></a>
		</div>
		<div class="col-sm-4 student">
			<h3>Students</h3>
      <p class="info">The students my click the button below.</p>
      <a href="/students"><button class="button btn-success">Go to Student Home Page</button></a>
	</div>
</div>
</div>
	<footer>
		&copy;Copyright Sanoj Mathew 2018. All rights reserved.
	</footer>
</body>
</html>